@import "../../../../assets/styles/global.scss";

.main-post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container {
    max-width: 1280px;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 200px;
}


    
    


.post-title {
    padding: 15px 155px;

    p {
        color:yellow;
        padding-bottom: 15px;
    }

    h1 {
        color: white;
        font-size: 40px;
        font-weight: bold;
    }

    
}

.post-description {
    padding: 15px 150px;

    p {
        color: $grey-main;
    }
}

.link-router {
    
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        color: yellow;
    }

    i {
        padding-left: 25px;
    }
}