<section class="main-post">
  <div class="container">
    <div class="content-cover">
      <img class="img-single-page" src="{{photoCover}}" alt="" />
      
    </div>
    
    <div class="post-title">
      <p>{{date}}</p>
      <h1>{{titlePost}}</h1>
    </div>
    <div class="post-description">
      <P
        >{{descriptionPost}}</P
      >
    </div>
    <div>
       <a class="link-router text-center" routerLink="">
        <i class="bi bi-skip-backward-fill"></i>
        Voltar</a>
    </div>
  </div>
</section>
