<div class="row pt-5 ps-3">
    <div class="col-lg-6 col-md-12">
        <div class="small-cards">
          <div class="small-card-item mt-0">
            <a id="link-small-card" [routerLink]="['/single-post', Id]">
              <div class="row">
                <div class="col-lg-9 col-md-3 container-img-small">
                  <div class="img-small-tumb">
                    <img src="{{photoCover}}" alt="" width="214" height="131" />
                  </div>
                </div>
                <div class="col-lg-3 ">
                  <div class="date-title-small">
                    <div class="date-card">24 de Fevereiro de 2024</div>
                    <div class="text-small-card">
                      {{titlePost}}
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      
</div>
