@import "../../../../assets/styles/global.scss";

.menu-title {
    padding: 15px 0px;
}

.dark {
    background-color: black;

    h1 {
        color: white;
        font-size: 100px;
        margin: 20px 0px 60px;
        padding: 40px 0px;
    }

    hr {
        border-color: $grey-main;
    }
}

.menu-item {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 10px;
    text-decoration: none;
    color: $grey-main;
    font-size: 16px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: yellow;
    }
}

.socials {
    padding: 10px 15px;
    text-align: right;

    a {
        display: inline-block;
        margin-left: 16px;
        color: $grey-main;
        transition: all 0.3s ease-in-out;

        &:hover {
            color: yellow;
        }
    }
}
