<div class="container menu-title">
  <div class="row pt-2 pb-2">
    <div class="col-lg-9 col-md-6 col-6">
      <div class="menu">
        <a class="active" href="/">
          <img src="../../../../assets/images/logo-dio.png" alt="logo da dio" width="40" height="40">
        </a>
        <a class="menu-item" href="">Home</a>
        <a class="menu-item" href="">News</a>
        <a class="menu-item" href="">Components</a>
        <a class="menu-item" href="">Templates</a>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-6">
      <div class="socials">
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-github"></i></a>
      </div>
    </div>
  </div>
  <div class="dark text-center">
    <hr />
    <h1 class="fw-bold">ANGULAR BLOG</h1>
    <hr />
  </div>
</div>
